<h1>Tenant List</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Building</th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.first_name %></td>
        <td><%= tenant.last_name %></td>
        <td><%= tenant.email %></td>
        <td><%= tenant.building.full_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Register', new_tenant_path %>
